:root {
    --primary-color: #FEA116;
    --header-color: rgb(2, 2, 42);
    --button-color: rgb(231, 165, 10);
    --btn-hover-color: rgb(226, 163, 17);
    --font-family: "Ubuntu", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color);
}

body {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
}

button {
    width: 180px;
    height: 40px;
    background-color: var(--primary-color);
    border: 1px solid var(--button-color);

    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.6s;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hover-color);
}

/*head or title of sections parameter*/
.section_head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.section_head span {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    font-family: "Playwrite GB S", cursive;
    border-bottom: 2px solid var(--primary-color);
}

.section_head h1 {
    padding-top: 15px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 600;
}

/*HEADER*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
}

/*logo*/
.logo i {
    color: var(--primary-color);
    font-size: 30px;
    padding: 12px;
}

.logo span {
    color: var(--primary-color);
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
}

/*navbar list*/
.nav_list ul {
    display: flex;
}

.nav_list ul li {
    list-style: none;
    color: aliceblue;
    font-size: 18px;
}

.nav_list li a {
    text-decoration: none;
    padding-left: 40px;
    color: aliceblue;
}

.nav_list li a:hover,
li a.active {
    color: var(--primary-color);
}

.drop a {
    color: aliceblue;
    font-size: 18px;
    padding-right: 15px;
}

.drop a:hover {
    color: var(--primary-color);
}

/*navbar button*/
.nav_btn {
    padding-right: 15px;
}

/*navbar pages dropDown  (class "hidden to use in JS"*/
.hidden {
    opacity: 0;
    pointer-events: none;
}

.drop_down {
    position: absolute;
    top: 60px;
    left: 65%;
    background-color: white;
    width: 200px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.drop_down h3 {
    padding: 10px;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.drop_down h3:hover {
    background-color: rgba(109, 109, 109, 0.4);
}

.drop_down:not(.hidden) {
    opacity: 1;
    pointer-events: auto;
}

/*MOBILE VERSION LIST HIDDEN*/
.mobile_nav{
   display: none; 
}



/*HOME SECTION*/
#home {
    background-image: linear-gradient(rgba(15, 23, 43, 0.4), rgba(15, 23, 43, 0.4)),
        url(resto_images/resto-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.home-img img {
    height: 80vh;
    width: 100%;
    margin-top: 80px;
    animation: rotate-effect 10s linear infinite;

}

/*Home image rotate infinite effect*/
@keyframes rotate-effect {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.home_info h1 {
    color: aliceblue;
    font-size: 70px;
    letter-spacing: 3px;
}

.home_info p {
    color: aliceblue;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.home_info button {
    height: 50px;
    margin-top: 30px;
}


/*ABOUT PAGE*/
/*about page/title*/
#section_title {
    background-image: linear-gradient(rgba(15, 23, 43, 0.5), rgba(15, 23, 43, 0.5)), url(resto_images/resto-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60vh;
}

.title {
    text-align: center;
    padding-top: 150px;
}

.title h1 {
    font-size: 4rem;
    color: aliceblue;
    letter-spacing: 2px;
}

.title span {
    color: aliceblue;
}

.title span .postition {
    color: var(--primary-color);
}

/*ABOUT CONTAINER (IMAGES / INFORMATION)*/

#About_resto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-height: auto;
}

/*about_resto_images*/
.about_resto_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
}

.about_resto_images img:nth-child(1) {
    width: 300Px;
    height: 300px;
}

.about_resto_images img:nth-child(2) {
    width: 250Px;
    height: 250px;
    padding-top: 45px;
}

.about_resto_images img:nth-child(3) {
    width: 250Px;
    height: 250px;
    padding-left: 45px;
}

.about_resto_images img:nth-child(4) {
    width: 300Px;
    height: 300px;
}

/*about_resto_information*/
.about_resto_information .about-word {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    font-family: "Playwrite GB S", cursive;
    border-bottom: 2px solid var(--primary-color);
}

.about_resto_information h1 {
    padding-top: 24px;
    font-size: 30px;

}

.about_resto_information h1 span {
    color: var(--primary-color);
}

.about_resto_information p {
    padding-top: 20px;
    font-size: 18px;
    color: rgb(34, 33, 33);
}


/*experience of resto*/
.resto_experience {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.resto_experience .experience_years {
    padding-right: 8rem;
    border-left: 5px solid var(--primary-color);
}

.experience_years h1 {
    padding: 15px;
    color: var(--primary-color);
}

.experience_years h1 span {
    font-size: 16px;
    font-style: italic;
    color: black;
}

.resto_experience .master_chef {
    padding-right: 45px;
    border-left: 5px solid var(--primary-color);
}

.master_chef h1 {
    padding: 15px;
    color: var(--primary-color);
}

.master_chef h1 span {
    font-size: 16px;
    font-style: italic;
    color: black;
}

.about_resto_information button {
    border-radius: 0;
    margin-top: 35px;
    height: 50px;
}

.about_resto_information button {
    border-radius: 0;
    margin-top: 35px;
    height: 50px;
}


/*RESTAURANT CHEFS MEMBERS*/
#resto_members {
    margin-top: 100px;
    background-color: whitesmoke;
}



.our_chefs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}

.chef_card {
    background-color: rgb(255, 250, 250);
    margin-top: 70px;
    margin-bottom: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.chef_card:hover img {
    transform: scale(1.06);

}

.chef_card img {
    width: 250px;
    height: 250px;
    padding: 30px;
    border-radius: 50%;
    transition: 0.6s;
}

.chef_card h2 {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
}

.chef_card h3 {
    padding-top: 10px;
    color: rgb(30, 29, 29);
    font-size: 16px;
    letter-spacing: 2px;
}

.chef_social_media {
    opacity: 0;
}

.chef_social_media i {
    margin-top: 20px;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    border-radius: 14PX 14PX 0 0;
    transition: 0.8s;
}

.chef_social_media i:hover {

    background-color: rgb(255, 196, 87);

}

.chef_card:hover .chef_social_media {
    opacity: 1;
}



/*SERVICES*/
/*Services Card*/

.services {
    background-color: whitesmoke;
}

.services_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;

}

.card {
    background-color: white;
    padding: 30px;
}

.card:hover {
    background-color: var(--primary-color);
    color: white;
}

.card:hover i {

    color: white;
}

.card i {
    font-size: 3rem;
    color: var(--primary-color);
}

.card h1 {
    padding-top: 1rem;
    font-size: 20px;
}

.card p {
    padding-top: 1rem;
    line-height: 25px;
}


/*MENU*/

/*add class ("active_time") to using in javaScript*/
.time.active_time {
    background-color: var(--primary-color);
}

.time.active_time i {
    color: white;

}

.time.active_time span {
    color: white;

}

.food_time a {
    text-decoration: none;
}

/*food time (breakfast-lunch-dinner)*/
.food_time {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    border-bottom: 1px solid gray;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
}

.time:hover {
    border-bottom: 1px solid var(--primary-color);
    background-color: #FEA116;
}

.time:hover i {
    color: white;
}

.time:hover span {
    color: white;
}

.time i {
    padding: 10px;
    font-size: 24px;
    color: var(--primary-color);
}

.time span {
    font-size: 20px;
    color: black;

}

/*menu container */
#Menu {
    padding-bottom: 40px;
    background-color: whitesmoke;
}

/*add two menu list 1 in left & 1 in right  like a book */
.menu_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}

.food_type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.food_name {
    padding-left: 12px;
}

.food_name p {
    padding-top: 12px;
}

.name_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_price h2 {
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 2px;
}

.name_price span {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}



/*BOOK TABLE SECTION => RESERVATION*/
.book_table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 150px;
    margin-top: 10px;
    background-color: var(--header-color);
    padding: 10px;
}

.book-table_img img {
    width: 100%;
    height: 80vh;


}

.book-table_form {
    width: 100%;
    margin-bottom: 55px;
}

.form_head {
    padding: 60px 25px;
}

.form_head span {

    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    font-family: "Playwrite GB S", cursive;
    border-bottom: 2px solid var(--primary-color);
}

.form_head h1 {

    color: aliceblue;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 600;
}

.form {
    padding: 60px 25px;
}

/*full name*/
.name_inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.name_inputs .first_name label {
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
}

.name_inputs .first_name input {
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
}

/*Date & people numbers*/
.date_people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.date_people .date label {
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
}

.date_people .date input {
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
}

/*text area to put request*/
.request {
    width: 100%;
    padding-top: 30px;
    padding-left: 12px;

}

.request label {
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
}

.request textarea {
    width: 95%;
    height: 100px;
    margin-top: 10px;
    resize: none;
    padding: 10px;
}

.book_btn {
    padding-left: 12px;
}

.book_btn button {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    border-radius: 0;
}


/* CONTACT SECTION*/
.contact_area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
}

.Contact_inputs {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;

}

/*name & email */
.Contact_inputs .email_name label {
    font-size: 20px;
    letter-spacing: 2px;
}

.Contact_inputs .email_name input {
    width: 280px;
    height: 50px;
    outline: none;
    padding-left: 12px;
    margin-top: 12px;

}

.Contact_inputs .email_name input:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(15, 23, 43, 0.4);
}

/*subject*/
.subject {
    padding-top: 30px;
}

.subject label {
    font-size: 20px;
    letter-spacing: 2px;
}

.subject input {
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 12px;
    margin-top: 12px;
}

.subject input:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(15, 23, 43, 0.4);
}

/*message*/
.message {
    padding-top: 30px;
}

.message label {
    font-size: 20px;
    letter-spacing: 2px;
}

.message textarea {
    width: 100%;
    height: 70px;
    outline: none;
    margin-top: 12px;
    resize: none;
    padding: 12px 0 0 12px;
}

.message textarea:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(15, 23, 43, 0.4);
}

.message_btn {
    padding-top: 15px;
}

.message_btn button {
    width: 100%;
    height: 50px;
    margin: 10px;
}

.message_btn button:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0 0 10px rgba(15, 23, 43, 0.4);
}


/*TESTIMONIAL SECTION */
#testimonial {
    background-color: whitesmoke;

}

.client_say {
    position: relative;
}

#client_cards {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    overflow-x: auto;
    width: 90%;
    margin: auto;
    position: relative;
}

/*left & right button to switch between clients cards*/
.client_say button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

}

.client_say button.left {
    left: 10px;
}

.client_say button.right {
    right: 10px;
}

#client_cards::-webkit-scrollbar {
    display: none;
}


/*cards*/
.cards:hover {
    background-color: var(--primary-color);
    color: white;
}

.cards:hover i {

    color: white;
}

.cards i {
    font-size: 3rem;
    color: var(--primary-color);
}

.cards h1 {
    padding-top: 1rem;
    font-size: 20px;
}

.cards p {
    padding-top: 1rem;
    line-height: 25px;
}


/* use "center" class to add scrolling effect and add color to active card  in javaScript */
.cards.center {
    background-color: var(--primary-color);
    color: white;
}

.cards.center i {

    color: white;
}

.cards {
    box-shadow: 0 0 10px rgba(109, 109, 109, 0.4);
    margin: 10px;
    cursor: pointer;
    background-color: white;
    padding: 30px;
    flex: 0 0 350px;
    cursor: grab;
    position: relative;
}


.cards:hover {
    background-color: var(--primary-color);
    color: white;
}

.cards:hover i {

    color: white;
}

.cards i {
    font-size: 3rem;
    color: var(--primary-color);
}



.cards p {
    padding-top: 1rem;
    line-height: 25px;
}

/*profile image and client name */
.client_profile {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.client_profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client_name {
    padding-left: 12px;
}

.client_name h3 {
    font-family: var(--font-family);
}

.client_name h5 {
    font-weight: 400;
    padding: 8px;
    font-size: 16px;

}




/*FOOTER*/
#footer {
    background-color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer h3 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    font-family: "Playwrite GB S", cursive;
}

/*Company part*/
.company li {
    margin-top: 20px;
    padding-top: 10px;
    color: aliceblue;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.6s;
}

.company li:hover {
    transform: translate(7px);
}


/*Contact us part*/
.contact_us i {
    margin-top: 20px;
    padding-top: 10px;
    color: aliceblue;
    font-size: 20px;
}

.contact_us span {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: aliceblue;
    font-size: 16px;
}

.contact_us .social_icons {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);

}

.social_icons i {
    font-size: 18px;
    padding: 10px;
    background-color: var(--header-color);
    border: 1px solid aliceblue;
    border-radius: 50%;
    transition: 0.5s;
}

.social_icons i:hover {
    font-size: 18px;
    padding: 10px;
    background-color: aliceblue;
    color: var(--primary-color);
    border: 1px solid aliceblue;

}

/*work time(opening) part*/
.work_time h2 {
    margin-top: 20px;
    padding-top: 10px;
    color: aliceblue;
}

.work_time h4 {

    color: aliceblue;
}

/*Newsletter part*/
.newsletter p {
    margin-top: 20px;
    padding-top: 10px;
    color: aliceblue;
}

.newsletter .news_input {
    display: flex;
    padding-top: 15px;
}

.news_input input {
    height: 40px;
    width: 250px;
    outline: none;
    border: none;
    padding-left: 12px;
}

.news_input button {
    height: 40px;
    width: 100px;
    border-radius: 0;

}

/*copyright*/
.copyright{
    background-color: var(--header-color);
    text-align: center;
    color: aliceblue;
    padding-bottom: 12px;
}



